.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 1000px;
	min-height: 600px;
}

#left {
	background-color: #1E2126;
	padding: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	overflow: scroll;
}

#middle {
	background-color: #16191C;
	padding: 15px;
}

#right {
	background-color: #1E2126;
	padding: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
  
/* Hide scrollbar for Chrome, Safari and Opera */
#left::-webkit-scrollbar {
	display: none;
}
  
// /* Hide scrollbar for IE, Edge and Firefox */
#left {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
