.container {
	display: flex;
	flex-direction: row;
}

#left {
	background-color: #602080;
	padding: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#middle {
	background-color:  #202060;
	padding: 15px;
}

#right {
	background-color: #602080;
	padding: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}