<div class="container-flex">
	<div class="msg-ui mb-3">
		<div class="msg-header">
			<ul class="list-group list-group-flush" #scrollMe>
				<li class="list-group-item" *ngFor="let message of messages" [autofocus]="message.text">
					{{ message.text }}
				</li>
		  </ul>
		</div>
		<div class="msg-footer">
			<div class="msg-write">
				<input type="text" class="form-control" placeholder="New message..." [(ngModel)]="newMessage">
			</div>
			<div class="msg-send">
				<button class="btn" (click)="sendMessage()" >📨</button>
			</div>
		</div>
	</div>
</div>
