.container-flex {
	height: 100%;
	width: 100%;
}

.msg-ui {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	.player-profil {
		height: 50%;
		width: 100%;
		flex-direction: row;
		display: flex;
		.item-1{
			flex: auto;
			margin:5px;
			background-color: #602080;
			border-radius: 10px;

		}
		.item-2{
			flex: auto;
			margin:5px;
			background-color: #602080;
			border-radius: 10px;
		}
	}
	.msg-header {
		height: 50%;
		border-radius: 10px;
		background-color:  	#602080;
		align-items: center;
	}
	.msg-footer{
		display: flex;
		width: 100%;
		flex-direction: row;
		border-radius: 10px;
		margin-right: 3px;
		margin-top: 3px;
		.msg-write {
			width: 90%;
			border: none;
			border-radius: 5px;
			margin-right: 10px;
			color: rgb(255, 255, 255);

			input {
				background-color: #602080;
				color: rgb(255, 255, 255);
				box-shadow: rgb(30, 0, 0, 0) 4px 4px 20px;
				border: 5px;
				border-radius: 10px;
			}
		}
		.msg-send {
			border-radius: 10px;
			border: none;
			color: rgb(255, 255, 255);
			.btn {
				border-radius: 10px;
				background-color:#602080;
				color: rgb(255, 255, 255);
				box-shadow: rgb(30, 0, 0, 0) 4px 4px 20px;
				&:active {
					transform: translate(1px, 1px);
					box-shadow: rgb(255, 255, 255) 3px 3px 7px;
				}
			}
		}
	}
}

.list-group-item { 
	background-color:  #202060;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	min-height: 30px;
	display: block;
	margin: 10px;
}

.list-group {
	display: flex;
	height: 100%;
	overflow-y: scroll;
	width: 100%;
	align-items: center;
}
.list-group {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.list-group::-webkit-scrollbar {
	display: none;
}
.input-group {
	align-items: center;
	justify-content: center;
}