<div class="container-flex">
	<div class="msg-ui mb-3">
		<div class="msg-header">
			<ul class="list-group list-group-flush">
				<li class="list-group-item" style="background-color: rgb(73, 73, 71);border-radius: 5px; min-height: 30px; display: block; margin: 10px;" *ngFor="let msgs of messages">
					{{ message.content }}
				</li>
		  	</ul>
		</div>	
		<!-- <div class="input-group mb-3"> -->
			<!-- <input class="form-control" placeholder="New message..." type="text"  [ngModel]="newMessage" name="newMessage">  -->
	  		<!-- <div class="input-group-append"> -->
		  		<!-- <button class="btn btn-primary" (click)="sendMessage()" >Send</button> -->
			<!-- </div> -->
	  	<!-- </div> -->
	</div>
</div>