<div class="container-flex">
	<div class="header-img">
		<div class="profil-img">
			<img [src]="this.MyUser.avatar" alt="AVATAR" style="height: 100px; width: 100px; border-radius: 10px;">
		</div>
		<div class = "upload">
			<button>cupload</button>
		</div>
		<div>
			<form accept-charset="UTF-8" method="post"><input type="hidden">
				<div class="mb-1 mb-2">
				  <input class="width-full form-control" id="user_profile_name" placeholder="Name" aria-label="Name" name="" value="" spellcheck="false" data-ms-editor="true">
				</div>
			</form>
		</div>
	</div>
</div>
