<div class="container-flex" style="height: 100%; width: 100%;">
	<div class="container" style="height: 30%; width : 100%; overflow: hidden; align-items: center; justify-content: center;">
		<div class="c-1-item-1" style="display: flex;">
			<img [src]="this.MyUser.avatar" alt="AVATAR" style="height: 100px; width: 100px; border-radius: 10px;">
			<button>Upload Avatar</button>
			<button (click)="onGet2FA()">Activate 2FA</button>
			<div class="c-1-item-2" *ngIf="this.MyTFA" style="height: 250px; width: 250px; border-radius: 10px;">
				<img [src]="MyTFA.qrcode">
			</div>
		</div>
	</div>
	<div class="container" style="height: 70%; width : 100%; background-color: blue;">
		<div class="c-2-item-1">
			<button >Activate boutton</button>
			<button >Activate boutton</button>
		</div>
	</div>
</div>