.player-card {
	background-color:  #202060;
	box-shadow: rgb(10,0, 0, 0) 2px 2px 5px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 15px;
	margin: 20px auto;
	padding: 5px 5px;
	margin-bottom: auto;
	flex-direction: row;
	display: flex;
	.item-1{
		width: 33%;
		img {
			width: 40px;
			height: 40px;
			justify-content: center;
			border-radius: 50%;
		}
	}
	.item-2{
		width: 33%;
	}
	.item-3{
		width: 33%;
	}
	button {
		background-color: transparent;
		box-sizing: border-box;
		padding: 5px 10px;
		border: none;
		height: 20px;
		font-size: 100%;
		font-weight: 100%;
		border-radius: 15px;
		width: auto;
		height: 100%;
		&:active {
			transform: translate(1px, 1px);
			box-shadow: rgb(246, 246, 247) 3px 3px 7px;
		}
		&:hover {
			box-shadow: rgb(5, 16, 60) 3px 3px 7px;
		}
	}
}

.online {
	box-shadow: rgb(12, 173, 12) 3px 3px 7px;
}
