.container-flex {
	height: 100%;
	width: 100%;
	background-color: #1E2126;
	border-radius: 15px;
	flex-direction: column;
	align-items: center;
	
}

.pong {
	width: 100%;
	height: 100%;
}

.custom-button {
	width: 100%;
	height: 35px;
	margin-bottom: 5px;
	background-color:#15181C;
	color: white;
	font-size: auto;
	text-size-adjust: auto;
	border-radius: 5px;
}

.my-card {
	height: 25%;
	width: 100%;
	border-radius: 10px;
}

.item-1 {
	justify-content: center;
	width: 100%;
	display: flex;
	height: 70px;
	border-radius: 10px;
	background-color: #151617;
	.flex-1 {
		align-self: center;
	}
	
	.flex-2 {
		text-align: center;
		align-self: center;

		flex: auto;
	}
}
.item-2 {
	align-items: center;
	background-color: #151617;
	border-radius: 10px;
}
.item-3 {
	align-items: center;
	background-color: #151617;
	border-radius: 10px;
}
.item-4 {
	align-items: center;
	background-color: #151617;
	border-radius: 10px;
}