<div class="container-flex">
	<div class="my-card">
		<div class="item-1">
			<div class="flex-1">
				<img src="https://cdn.pixabay.com/photo/2015/05/31/16/03/teddy-bear-792273_1280.jpg" style="width: 40px; height: 40px; border-radius: 50%; display: block;">
			</div>
			<div class="flex-2">
				<p>MY LOGIN</p>
			</div>
		</div>
	</div>
	<div class="my-card item-2">
		<div class="pong">
			<button class="custom-button">Super PONG</button>
			<button class="custom-button">Classique PONG</button>
			<button class="custom-button">Double ball PONG</button>
		</div>
	</div>
	<div class="my-card item-3">
		<app-channel></app-channel>
	</div>
	<div class="my-card item-4">
		<p>match :</p>
		<p>victoire:</p>
		<p>defaite:</p>
		<p>etc:</p>
	</div>
</div>