<div class="container-flex">
	<div class="my-card">
		<div class="item-1">
			<div class="flex-1" (click)="loadProfil()">
				<img [src]="this.MyUser?.avatar">
			</div>
			<div class="flex-2">
				{{this.MyUser?.username}}
			</div>
		</div>
	</div>
	<div class="my-card item-2">
		<div class="pong">
			<button class="custom-button">Super PONG</button>
			<button class="custom-button">Classique PONG</button>
			<button class="custom-button">Double ball PONG</button>
		</div>
	</div>
	<div class="my-card item-3">
		<!-- <div class="container-flex"> -->
	<!-- Channel -->
	<!-- <input type="text" #input (input)="channel_n = input.value"> -->
	<!-- <button (click)="createChannel()">new channel</button> -->
	<!-- </div> -->
	</div>
	<div class="my-card item-4">
		<p>Games : {{this.MyUser?._count?.games}}</p>
		<p>Lose  : {{this.MyUser?._count?.games_lose}}</p>
		<p>Win   : {{this.MyUser?._count?.games_win}}</p>
	</div>
</div>